[submodule "taglib-sharp"]
	path = taglib-sharp
	url = https://github.com/archrival/taglib-sharp
	
[submodule "SubsonicSharp"]
	path = SubsonicSharp
	url = https://github.com/archrival/SubsonicSharp

